<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Cadastro de Usuario</h5>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col">
                <label>Nome</label>
                <input id="nome" type="text" class="form-control" formControlName="nome">

                <div *ngIf="(usuarioForm.get('nome')?.dirty || usuarioForm.get('nome')?.touched) && usuarioForm.get('nome') && usuarioForm.get('nome')?.hasError('required')" i18n>
                    <div style="padding: 0px !important;" class="alert alert-danger" role="alert">
                        Campo obrigatório.
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Sobrenome</label>
                <input type="text" class="form-control" formControlName="sobrenome">
                <div *ngIf="(usuarioForm.get('sobrenome')?.dirty || usuarioForm.get('sobrenome')?.touched) && usuarioForm.get('sobrenome') && usuarioForm.get('sobrenome')?.hasError('required')" i18n>
                    <div style="padding: 0px !important;" class="alert alert-danger" role="alert">
                        Campo obrigatório.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Data de Nasc.</label>
                <div class="input-group">
                    <input type="date" class="form-control" placeholder="dd/mm/aaaa" name="dp" formControlName="dataNascimento">
                    <div *ngIf="(usuarioForm.get('dataNascimento')?.dirty || usuarioForm.get('dataNascimento')?.touched) && usuarioForm.get('DataNascimento') && usuarioForm.get('dataNascimento')?.hasError('required')" i18n>
                        <div style="padding: 0px !important;" class="alert alert-danger" role="alert alert-danger">
                            Campo obrigatório.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <label>Escolaridade</label>
                <select class="form-control" formControlName="escolaridadeId">
                    <option value="">Selecione</option>
                    <option *ngFor="let item of listarEscolaridade" value="{{item.id}}">{{item.descricao}}</option>
                </select>
                <div *ngIf="(usuarioForm.get('escolaridadeId')?.dirty || usuarioForm.get('escolaridadeId')?.touched) && usuarioForm.get('escolaridadeId') && usuarioForm.get('email')?.hasError('required')" i18n>
                    <div style="padding: 0px !important;" class="alert alert-danger" role="alert">
                        Campo obrigatório.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>E-mail</label>
                <input type="email" class="form-control" formControlName="email">

                <div *ngIf="(usuarioForm.get('email')?.dirty || usuarioForm.get('email')?.touched) && usuarioForm.get('email')" i18n>
                    <div *ngIf="usuarioForm.get('email')?.hasError('required')" style="padding: 0px !important;" class="alert alert-danger" role="alert">
                        Campo obrigatório.
                    </div>

                    <div *ngIf="usuarioForm.get('email')?.hasError('email')" style="padding: 0px !important;" class="alert alert-danger" role="alert">
                        E-mail inválido.
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" [disabled]="!usuarioForm.valid">Salvar <fa-icon [icon]="checkIcon"></fa-icon></button>
    </div>
</form>